<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link href="/preboot-favicon.png" rel="shortcut icon" type="image/x-icon">
    <link href="http://gmpg.org/xfn/11" rel="profile">

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300,500">
    <link rel="stylesheet" href="{{ site.baseurl }}/preboot.css">

    <title>Preboot</title>
  </head>

  <body>

    <header class="masthead">
      <div class="container">
        <h1>Preboot</h1>
        <p>A collection of Sass mixins and variables from <a href="http://twitter.com/mdo" target="_blank">@mdo</a>.</p>
        <a class="btn-reverse" href="https://github.com/mdo/preboot/archive/master.zip">Download Preboot</a>
        <a class="btn-reverse" href="https://github.com/mdo/preboot">View project on GitHub</a>
        <p class="social-buttons">
          <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=mdo&repo=preboot&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
          <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=mdo&repo=preboot&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95px" height="20px"></iframe>
          <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://getpreboot.com/" data-count="horizontal" data-via="mdo">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        </p>
      </div>
    </header>

    <div class="container">
      {{ content }}

      <div class="footer">
        &lt;3
      </div>
    </div>

    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '512fba09f5a1f535df000069');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
